/* COLORS 
	Rot: 		#7C1715, rgb(124,23,21)
	Grün: 		#659F48, rgb(101,159,72)
	Hellgrün:	#B9D79C, rgb(185,215,156)
	
	
*/


/* HEADER */
/*
#header {
	height: 90px;
	line-height: 90px;
}
#header .header-inner, #header #header-wrap,
#header .header-inner #logo, #header #header-wrap #logo,
#mainMenu-trigger {
	height: 90px;
}
*/


/* FONTS */
@font-face {
  font-display: swap;
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/MPLUSRounded1c-Regular.ttf') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 500;
  src: url('../webfonts/MPLUSRounded1c-Thin.ttf') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/MPLUSRounded1c-Light.ttf') format('woff2');
}



#logo svg {
  height: 138px;
  position: relative;
}
@media screen and (max-width: 768px) {
#logo svg {
    width: 100%;
    height: 80px;
    position: relative;
    top: -5px;
}
}
#header.header-sticky.sticky-active .header-inner, #header.header-sticky.sticky-active #header-wrap {
  box-shadow: 0 60px 120px rgba(0, 0, 0, 0.26);
}
.sticky-active #logo svg {
  height: 70px;
}
#mainMenu nav > ul > li > a {
  font-size: 1rem;
  font-weight: 700;
}
#mainMenu nav > ul > li.hover-active > a, 
#mainMenu nav > ul > li.hover-active > span, 
#mainMenu nav > ul > li.current > a, 
#mainMenu nav > ul > li.current > span, 
#mainMenu nav > ul > li:hover > a, 
#mainMenu nav > ul > li:hover > span, 
#mainMenu nav > ul > li:focus > a, 
#mainMenu nav > ul > li:focus > span {
  color: #7C1715;
}
#mainMenu nav > ul > li.hover-active > a > i.fas, 
#mainMenu nav > ul > li.hover-active > span > i.fas, 
#mainMenu nav > ul > li.current > a > i.fas, 
#mainMenu nav > ul > li.current > span > i.fas, 
#mainMenu nav > ul > li:hover > a > i.fas, 
#mainMenu nav > ul > li:hover > span > i.fas, 
#mainMenu nav > ul > li:focus > a > i.fas, 
#mainMenu nav > ul > li:focus > span > i.fas {
  color: #659F48;
  transition: color .3s ease;
}
#mainMenu nav > ul > li > a > i.fas {
  transition: color .3s ease;
}
.mainMenu-open #header #mainMenu {
    padding-top: 80px;
}
.mainMenu-open #header #mainMenu:not(.menu-overlay) nav > ul > li {
    text-align: center;
}
.mainMenu-open #header #mainMenu:not(.menu-overlay) nav > ul > li > a {
    font-size: 1.2rem;
}


.parallax-container {
	background-position: center center !important;
}
.team > .parallax-container {
	background-position: center top !important;
}

.bg-overlay {
	opacity: .25;
}
.text-shadow {
  text-shadow: 0 0 15px rgba(0,0,0,.5);
}

.table {
	width: auto;
	margin: auto;
	font-size: 1.3em;
	line-height: 1.4;
}
.table td {
	vertical-align: top;
}

@media screen and (max-width: 767px) {
  h3, .h3 {
    font-size: 1.5em;
    line-height: 1.3;
  }
}
p, li {
	font-size: 1.4rem;
}
p {
	hyphens: auto;
	-webkit-hyphens: auto;
}
p small, p a, li a {
	hyphens: none;
	-webkit-hyphens: none;
}
h4, .h4 {
  font-size: 1.5em;
  line-height: 1.68421053em;
  font-weight: 600;
}
.fa-ul li {
	font-size: 1.3em;
	line-height: 1.4;
	margin-bottom: .75rem;
}
.fa-ul i.fas {
	color: #659F48;
}

.text-red {
  color: #7C1715 !important;
}

.text-medium {
  font-weight: 700;
  color: #7C1715;
}
.text-link {
	color: #7C1715;
	text-decoration: underline;
}
.text-link:hover, .text-link:focus {
	color: #659F48 !important;
}
.no-hyphens {
	hyphens: none;
	-webkit-hyphens: none;
}
.alert {
  font-size: 1.1rem;
}
.alert .btn-close {
	background-size: .9em;
}

@media screen and (min-width: 769px) {
.text-medium {
  font-size: 3rem !important;
}
}

#scrollTop::after, #scrollTop::before {
	background-color: #7C1715;
}

button.btn, .btn:not(.close):not(.mfp-close), a.btn:not([href]):not([tabindex]) {
	background-color: #659F48;
	border-color: #659F48;
	border-width: 3px;
}
button.btn:hover, button.btn:focus, button.btn:not(:disabled):not(.disabled):active, button.btn:not(:disabled):not(.disabled).active, .btn:not(.close):not(.mfp-close):hover, .btn:not(.close):not(.mfp-close):focus, .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled):active, .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]):hover, a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled).active {
	background-color: rgba(185,215,156,.5);
	border-color: #659F48;
	color: #659F48;
}
button.btn.btn-lg, .btn:not(.close):not(.mfp-close).btn-lg, a.btn:not([href]):not([tabindex]).btn-lg {
	line-height: 1.4;
	padding: 10px 24px;
	font-size: 1.4rem;
	text-transform: inherit;
	letter-spacing: inherit;
}
.btn-red {
	background-color: #7C1715 !important;
	border-color: #7C1715 !important;
}
.btn-red:hover, .btn-red:focus {
	background-color: #659F48 !important;
	border-color: #659F48 !important;
}
@media screen and (max-width: 991.98px) {
button.btn:not(.btn-creative):not(.btn-slide).btn-lg, .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide).btn-lg, a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide).btn-lg {
    font-size: 1.3rem;
    line-height: 1.1;
    padding: 12px 24px;
    height: 50px;
}
}

.img-shadow {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 50px -12px;
}

.background-lightgreen_1 {
  background-color: rgba(185,215,156,.25) !important;
}
.background-lightgreen_2 {
  background-color: rgba(185,215,156,.5) !important;
}



.icon-svg {
  width: 100px;
  height: 100px;
}
.icon-box h3 {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.icon-box.border .icon {
	border: 3px solid #7C1715;
}
.icon-box.border .icon i {
	color: #7C1715;
}


/* FOOTER */
footer .shape-divider svg {
  max-height: 50px;
}
#footer .copyright-content {
  background-color: #659F48;
  font-size: 1.1rem;
  padding-top: 80px;
}
#footer .copyright-content, #footer a:not(.btn):not(:hover) {
  color: #fff;
  line-height: 1.2;
}
#footer a:hover {
  color: #7C1715;
}



@media screen and (max-width: 479px) {
	#homepic {
		min-height: 350px;
	}
	#homepic h1 {
		font-size: 1.6em;
		line-height: 1.2em;
		margin-top: 10px;
	}
	#homepic h4 {
		font-size: 1em;
		line-height: 1.1em;
	}
	#homepic.fullscreen .container, #homepic.fullscreen .container-wide {
		margin-top: 0 !important;
	}
}
@media screen and (min-width: 480px) and (max-width: 787px) {
	#homepic {
		min-height: 500px;
		padding: 0;
	}
}